@model CarLocadora.Modelo.ManutencaoVeiculoModel

@{
    ViewData["Title"] = "Create";
}

<h4>Cadastrar Manutenção</h4>
<br />

<div class="row">
	<div class="col-md-12">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<partial name="_Formulario" />
		</form>
	</div>
</div>
<br />
<div>
</div>