@model CarLocadora.Modelo.LocacaoModel



<div class="row">

	<div class="col-md-4">
		<div class="form-group">
			<label asp-for="ClienteCPF" class="control-label"></label>
			<select asp-for="ClienteCPF" asp-items="ViewBag.Cliente" class="form-control text-uppercase">
				<option disabled selected></option>
			</select>
			<span asp-validation-for="ClienteCPF" class="text-danger"></span>

		</div>
	</div>



	<div class="col-md-3">
		<div class="form-group">
			<label asp-for="FormaPagamentoId" class="control-label"></label>
			<select asp-for="FormaPagamentoId" asp-items="ViewBag.FormaPagamento" class="form-control text-uppercase">
				<option disabled selected></option>
			</select>
			<span asp-validation-for="FormaPagamentoId" class="text-danger"></span>
		</div>
	</div>


	<div class="col-md-3">
		<div class="form-group">
			<label asp-for="VeiculoPlaca" class="control-label"></label>
			<select asp-for="VeiculoPlaca" asp-items="ViewBag.Veiculo" class="form-control text-uppercase">
				<option disabled selected></option>
			</select>
			<span asp-validation-for="VeiculoPlaca" class="text-danger"></span>
		</div>
	</div>
</div>
<br />

<div class="row ">

	<div class="col-md-3">
		<div class="form-group">
			<label asp-for="DataHoraReserva" class="control-label"></label>
			<input asp-for="DataHoraReserva" class="form-control" />
			<span asp-validation-for="DataHoraReserva" class="text-danger"></span>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label asp-for="DataHoraRetiradaPrevista" class="control-label"></label>
			<input asp-for="DataHoraRetiradaPrevista" class="form-control" />
			<span asp-validation-for="DataHoraRetiradaPrevista" class="text-danger"></span>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label asp-for="DataHoraDevolucaoPrevista" class="control-label"></label>
			<input asp-for="DataHoraDevolucaoPrevista" class="form-control" />
			<span asp-validation-for="DataHoraDevolucaoPrevista" class="text-danger"></span>
		</div>
	</div>
</div>
<br />
<br />
<div class="form-group">
	<input type="submit" value="Salvar" class="btn btn-success" />
	<a asp-action="Index"> <input class="btn btn-primary" value="Voltar para lista" /> </a>
	<br />
	<br />
	<br />
</div>
