@model CarLocadora.Modelo.FormaPagamentoModel

@{
    ViewData["Title"] = "Formas de Pagamento";
}

<h3>Cadastrar Formas de Pagamento </h3>
<br />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_Formulario"/>
        </form>
    </div>
</div>
<br />
<div>
   

</div>