@{
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<body>
	<html>
	<head>
		<style>
			h1 {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<h1>Projeto DevPrática </h1>
		<br />
		<br />
		<h1> <i class="fas fa-car" style="font-size:36px;color:dodgerblue;"></i>  CarLocadora  <i class="fas fa-car" style="font-size:36px;color:black;"></i> </h1>
		<br />
		<br />
	</body>
</html>
<br />
<h1>
	<i class="fas fa-car" style="font-size:24px;color:dodgerblue;"></i>
	<i class="fas fa-car" style="font-size:36px;color:black;"></i>
	<i class="fas fa-car" style="font-size:48px;color:dodgerblue;"></i>
	<i class="fas fa-car" style="font-size:60px;color:black;"></i>
	<i class="fas fa-car" style="font-size:72px;color:dodgerblue;"></i>
	<i class="fas fa-car" style="font-size:84px;color:black;"></i>
	<i class="fas fa-car" style="font-size:96px;color:dodgerblue;"></i>
	<i class="fas fa-car" style="font-size:96px;color:black"></i>
	<i class="fas fa-car" style="font-size:84px;color:dodgerblue"></i>
	<i class="fas fa-car" style="font-size:72px;color:black;"></i>
	<i class="fas fa-car" style="font-size:60px;color:dodgerblue;"></i>
	<i class="fas fa-car" style="font-size:48px;color:black;"></i>
	<i class="fas fa-car" style="font-size:36px;color:dodgerblue;"></i>
	<i class="fas fa-car" style="font-size:24px;color:black;"></i>
</h1>
</section>
</body>
</html>







