@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-8">
        Bem-Vindo  </h1>
        <br />
        <h3>Projeto CarLocadora - DevPrática</h3>
       

      
   
</div>
